*.png
*.csv
*.eps
.ipynb_checkpoints
raw_data_process/*
weadata/data/control/*.txt
weadata/*
inits/*
runs/*
sims/*
jobs/*
init_files/*
/init_files
/notebooks/*.db
/test/*
/db/*
/python_test/*
/envs/*
/stats/*
